select::-ms-expand {
    display: none !important;
  }
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
  }

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 25px;
}