select::-ms-expand {
    display: none !important;
  }
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
  }

.url {
  background-color: #f3f3f3 !important;
  border-radius: 3px !important;
  height: 20px !important;
  padding: 0px 5px !important;
  font-size: 10px !important;
  border: 1px solid #e3e3e3 !important;
  width: 100% !important;
}  

.url-label {
  color: #7a7a7a;
}

.url-btn {
  background: var(--ecm-main) !important;
  color: #fff;
  margin-left: 5px;
  border: none !important;
  height: auto !important;
  padding: 0px 10px !important;
  font-size: 13px;
  border-radius: 2px;
}