.App-Grid {
    height: 78vh;
    border: 1px solid #bdc3c7;
    overflow-x: scroll;
    overflow-y: hidden;
}

.App-Grid::-webkit-scrollbar {
    height: 9px;
    border-radius: 10px;
    box-shadow: inset 0 0 6px #ddd;
}

/* .App-Grid::-webkit-scrollbar-thumb {
    border-radius: 10px;
} */

.App-Grid-Row {
    border-bottom: 1px solid #bdc3c7;
}

thead.App-Grid-Head .App-Grid-Row th {
    padding: 1px 8px;
    position: relative;
    // width: 150px;
}

thead.App-Grid-Head .App-Grid-Row th input {
    height: 15px;
    width: 112px;
    margin: 2px 0; 
    outline: none;
    border: 1px solid #95a5a6;
    padding: 0 4px;
}

thead.App-Grid-Head .App-Grid-Row th input:focus {
    box-shadow: 0 0 2px 1px #719ece;
    border: 1px solid #719ece;
}

.App-grid-Body tr {
    height: 24px;
    border-bottom: 1px solid #bdc3c7;
    position: relative;
}

.App-grid-Body tr:hover {
    background-color: #64c2ff52;
}

.App-grid-Body tr td {
    padding: 1px 8px;
}

.App-grid-Body tr td:focus {
    border: 1px solid #719ece;
}

.App-grid-Body tr td i {
    cursor: pointer;
    color: #2b92d5;
}

#App-Record-Not-Found {
    /* display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    height: 91%; */
    position: fixed;
    top: 275px;
    right: 470px;
}

#App-Record-Not-Found img {
    width: 315px;
}

.br-before {
    position: relative;
}

.br-before::before {
    content: "";
    position: absolute;
    height: 13px;
    width: 1px;
    background: #bdc3c7;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
}

.br-before2 {
    position: relative;
}

.br-before2::before {
    content: "";
    position: absolute;
    height: 13px;
    width: 1px;
    background: #bdc3c7;
    top: 15px;
    bottom: 0;
    margin: auto;
    left: 0;
}