<div class='App-Grid'>
    <table class='App-Grid-Table'>
      <thead class='App-Grid-Head'>
        <tr class='App-Grid-Row'>
          <th class='font-we-400 font-px-12' *ngFor="let item of colDefs;" [ngStyle]="{width: item.width}">{{item.headerName}}</th>
          <!-- <th class='font-we-400 font-px-12 br-before'>Picture</th>
          <th class='font-we-400 font-px-12 br-before'>G.R No.</th>
          <th class='font-we-400 font-px-12 br-before'>Student ID</th>
          <th class='font-we-400 font-px-12 br-before'>Student</th>
          <th class='font-we-400 font-px-12 br-before'>Father's Name</th> -->
        </tr>
      </thead>
      <tbody class='App-grid-Body'>
        <!-- <tr  id='open'> 
            <td class='font-we-400 font-px-12'>Product.id</td>
            <td class='font-we-400 font-px-12'>Product.Code</td>
            <td class='font-we-400 font-px-12'>Product.Type</td>
            <td class='font-we-400 font-px-12'>Product.Category</td>
            <td class='font-we-400 font-px-12'>Product.Currency</td>
            <td class='font-we-400 font-px-12'>Product.Name</td>
            <td class='font-we-400 font-px-12'>Product.Stock</td>
            <td class='font-we-400 font-px-12'>Product.Price</td>
            <td class='font-we-400 font-px-12'>Product.Discount</td>
          </tr> -->
      </tbody>
    </table>
  </div>