<ecm-top-screen-header screen_name="CASE TYPE"></ecm-top-screen-header>

<ecm-modal caption="Case Type" #mymodal (Save)="SaveCaseTypes()">
    <form [formGroup]="myform">
        <div class="row Product-modal-Basic-Body">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <dcs-textbox caption="Code*" formControlName="Code" [placeholder]=true>
                        </dcs-textbox>
                    </div>
                    <div class="col-lg-6">
                        <!-- [lookupdata]="stdCategory" [colDefsArr]="stdCategridArr" -->
                        <ecm-dropdown dropdownCaption="Case Group*" [lookupdata]="caseGroups" [colDefsArr]="casegrpCategridArr">
                            <select class="font-px-11" formControlName="casegrp">
                                <option hidden></option>
                                <option *ngFor="let item of caseGroups;"> {{item.CaseGroup}} </option>
                            </select>
                        </ecm-dropdown>
                    </div>
                    <div class="col-lg-12">
                        <dcs-textbox caption="Case Type*" formControlName="casetype" [placeholder]=true>
                        </dcs-textbox>
                    </div>
                    <div class="col-lg-12">
                        <dcs-textarea caption="Description" formControlName="Description" [placeholder]="true">
                        </dcs-textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="ag-theme-alpine">
        <ecm-ag-grid [mode]="2" [rowData]="rowdata2" defaultHeight="210" (selectedRowClick)="selectRow($event)" (Check)="checkbox($event)" [rowselect]="false" rowSelection="single" [pagination]="false" [_columns]="columnDefs2">
        </ecm-ag-grid>
    </div>
</ecm-modal>

<div class="padding-Screen" style="padding-top: 0 !important;margin-top: -2px;">
    <ecm-btn-group IconClass="fa fa-plus" BtnText="New" (EcmBtnclick)="openModal()"></ecm-btn-group>
    <div class="ag-theme-alpine">
        <ecm-ag-grid [rowData]="rowdata" defaultHeight="510" [_columns]="columnDefs">
        </ecm-ag-grid>
    </div>
</div>

<ecm-loder></ecm-loder>
<dcs-error #dcserror [type]="type" [message]="messsageerror"></dcs-error>