<ecm-top-screen-header screen_name="QUALIFICATION TYPE"></ecm-top-screen-header>

<ecm-modal caption="Qualification Type" #mymodal (Save)="Posthdr_SM_qualificationType();">
    <form [formGroup]="qualificationType_form">
        <div class="row Product-modal-Basic-Body">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <dcs-textbox caption="Code*" formControlName="Code" [disabled]="false" [placeholder]=true>
                        </dcs-textbox>
                    </div>
                    <div class="col-lg-12">
                        <dcs-textbox caption="Qualification Type*" formControlName="qualificationtype" [disabled]="false" [placeholder]=true>
                        </dcs-textbox>
                    </div>
                    <div class="col-lg-12">
                        <dcs-textarea caption="Description" formControlName="Description" [placeholder]="true">
                        </dcs-textarea>
                    </div>
                </div>
            </div>    
        </div>
    </form>   
</ecm-modal>

<div class="padding-Screen" style="padding-top: 0 !important;margin-top: -2px;">
    <ecm-btn-group IconClass="fa fa-plus" BtnText="New" (EcmBtnclick)="openModal()"></ecm-btn-group>
    <div class="ag-theme-alpine">
        <ecm-ag-grid [rowData]="rowdata" defaultHeight="510" [_columns]="columnDefs">
        </ecm-ag-grid>
    </div>
</div>

<ecm-loder></ecm-loder>
<dcs-error #dcserror [type]="type" [message]="messageerror"></dcs-error>