.app-navigation {
    .app-header {
        height: 35px;
        position: fixed;
        width: 100%;
        display: flex;
        align-items: center;
        .logo-box {
            border-bottom: 2px solid var(--ecm-main);
            width: 220px;
            padding: 5px;
            padding-right: 0 !important;
            height: 100%;
            display: flex;
            align-items: center;
            h4 {
                text-transform: uppercase;
                color: var(--ecm-main) !important;
                font-size: 10px;
                font-weight: 600;
                margin-left: 9px !important;
            }
        }
        .school-name-and-date-time {
            background-color: var(--ecm-main);
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            padding: 0px 10px;
            .school-name {
                display: flex;
                align-items: center;
                height: 100%;
                color: #fff;
                i {
                    cursor: pointer;
                    font-size: 25px !important;
                }
                h3 {
                    margin-left: 10px !important;
                    font-size: 18px;
                    // text-transform: uppercase;
                    // font-weight: 600;
                }
            }
            .notification-and-date {
                color: #fff;
                display: flex;
                align-items: center;
                height: 100%;
                i {
                    cursor: pointer;
                    font-size: 23px !important;
                }
                .date {
                    width: 100px;
                    height: 100%;
                    border-left: 2px solid #fff;
                    border-right: 2px solid #fff;
                    margin: 0 8px;
                    text-align: center;
                }
            }
        }
    }
    .app-header-2 {
        width: 100%;
        height: 35px;
        margin-top: 35px;
        position: fixed;
        display: flex;
        align-items: center;
        padding: 0 15px;
        ul {
            display: flex;
            align-items: center;
            li {
                position: relative;
                cursor: pointer;
                padding-bottom: 1px;
                padding-left: 4px;
                font-size: 11px !important;
                padding-right: 4px;
                /* width: 99px; */
                font-weight: 600;
                text-align: center;
                letter-spacing: 0.4px;
                color: #c4c3c3;
                margin-right: 10px;
                img {
                    width: 12px;
                    margin: 0px 0px 0px 0px;
                }
                &.active {
                    color: var(--ecm-main);
                    &::before {
                        content: "";
                        position: absolute;
                        height: 3px;
                        left: 0;
                        bottom: -3px;
                        width: 100%;
                        background-color: var(--ecm-main);
                        color: var(--ecm-main);
                    }
                }
                &:hover::before {
                    content: "";
                    position: absolute;
                    height: 3px;
                    left: 0;
                    bottom: -3px;
                    color: var(--ecm-main);
                    width: 100%;
                    background-color: var(--ecm-main);
                }
            }
        }
    }
    .side-bar {
        height: 100%;
        background-color: var(--ecm-main);
        width: 190px;
        position: fixed;
        z-index: 1;
        margin-top: 70px;
        &.active {
            transition: .2s;
            width: 50px;
            margin-top: 71px;
            ul {
                .link {
                    span {
                        display: none;
                    }
                    img {
                        width: 21px;
                    }
                }
            }
        }
        ul {
            .link {
                color: #fff;
                background: #1c86ad;
                padding: 5px 16px;
                font-weight: 600;
                font-size: 11px;
                cursor: pointer;
                margin-bottom: 6px;
                img {
                    filter: invert(100%) sepia(95%) saturate(19%) hue-rotate(289deg) brightness(106%) contrast(104%);
                    width: 17px;
                }
                &.active {
                    clip-path: polygon(6% 0, 100% 0%, 100% 100%, 6% 100%, 0% 50%);
                    // border-top-left-radius: 30px;
                    // border-bottom-left-radius: 30px;
                    background: #fff;
                    color: #1c86ad;
                    margin-left: 2px;
                    img {
                        filter: invert(36%) sepia(71%) saturate(560%) hue-rotate(153deg) brightness(97%) contrast(95%);
                    }
                }
                &:hover {
                    clip-path: polygon(6% 0, 100% 0%, 100% 100%, 6% 100%, 0% 50%);
                    // border-top-left-radius: 30px;
                    // border-bottom-left-radius: 30px;
                    background: #fff;
                    color: #1c86ad;
                    margin-left: 2px;
                    img {
                        filter: invert(36%) sepia(71%) saturate(560%) hue-rotate(153deg) brightness(97%) contrast(95%);
                    }
                }
                span {
                    margin: 7px 7px;
                    font-size: 11px;
                }
            }
        }
    }
}

.change-entity-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.change-entity-main-logo {
    width: 125px;

    img {
        width: 100%;
    }
}


.login-input {
    width: 385px;
    display: flex;
    justify-content: center;
    position: relative;
    img {
        position: absolute;
        filter: invert(53%) sepia(16%) saturate(2838%) hue-rotate(165deg) brightness(91%) contrast(82%);
        position: absolute;
        left: 69px;
        top: 16px;
        width: 20px;
    }
    input {
        margin-top: 11px;
        width: 68%;
        height: 34px;
        padding: 16px 33px !important;
        border: none;
        box-shadow: inset 0 0 4px 0 #afafaf;
        border-radius: 4px;
        font-size: 13px;
    }
    select {
        margin-top: 11px;
        width: 68%;
        height: 34px;
        padding: 8px 3px !important;
        border: none;
        box-shadow: inset 0 0 4px 0 #afafaf;
        border-radius: 4px;
        font-size: 13px;
    }
}   

.login-btn {
    display: flex;
    margin-top: 15px;
    button {
        width: 130px;
        height: 40px;
        padding: 0;
        margin: 0 auto;
        border-radius: 25px;
        color: #fff;
        background: #1c86ad;
        border: none;
        font-size: 14px;
        font-weight: 600;
        box-shadow: 3px 3px 4px #00000075;
    }
}