.attendence-selection {
    border-bottom: 1px solid #ddd;
    height: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 4px;
    .attendence-selection-course {
        position: relative;
        display: flex;
        align-items: center;
        border-right: 1px solid #ddd;
        padding-right: 10px;
        span {
            color: var(--ecm-main);
            font-size: 11px;
            font-weight: 700;
            height: 24px;
            padding-right: 6px;
            padding-left: 5px;
            padding-top: 4px;
            text-transform: uppercase;
        }
        select {
            border-radius: 3px !important;
            height: 21px !important;
            padding: 0px 5px !important;
            font-size: 11px !important;
            border: 1px solid #e3e3e3 !important;
        }
        i {
            position: absolute;
            font-size: 14px !important;
            right: 14px;
            background: #fff;
            top: 4px;
            color: var(--ecm-main);
        }
    }
}

.top-head {
    color: var(--ecm-main);
    background: #ecf4ff;
    height: 26px;
    margin-right: 3px;
    margin-left: 3px;
    /* display: flex; */
    align-items: center;
    h3 {
        font-size: 15px;
        padding-top: 4px;
        padding-left: 4px;
        margin: 1px 4px !important;
        font-weight: 700;
    }
}

.info-box {
    min-height: 53px;
    
    margin-bottom: 10px;
    padding: 5px;
    background: #ecf4ff;
    box-shadow: 1px 2px 5px #ddd;
    width: 285px;
    position: relative;
    height: 60px;
    margin: 7px 3px;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid #E3E6F0;
    border-radius: 0.35rem;
    border-left: 0.25rem;
}

.info-box-text {
    font-weight: 800;
    display: block;
    text-align: left;
    font-size: 10pt;
}

.blue {
    font-weight: bold !important;
    color: #50a2ca !important;
}

.stu-data {
    padding-left: 5px !important;
    font-size: 16px;
    font-family: 'Nunito Sans';
}

.progress-bar-container {
    background-color: #fff;
    border-radius: 7px;
    height: 9px;
    box-shadow: inset 1px 1px 3px #cfcfcf;
    padding-top: 1px;
    margin: 0px auto 10px;
}

.mrl {
    width: 97%;
}

.progress-bar {
    background-color: #07c692 !important;
    border-radius: 7px !important;
    height: 5px;
    margin: 1px 0px 10px 2px;
    // width: 41px;
    transition: .5s;
}

// .aa {

// }

.rig-boxes {
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd !important;
    margin: 0px 0px 4px 4px !important;
    border-top: none;
}