.system-policies-top-bar {
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding: 0 11px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--ecm-main);
    cursor: pointer;
    span {
        font-weight: 600;
        font-size: 12px;
    }
    .toggle-icon::before {
        font-family: "FontAwesome";
        float: right;
        content: "\f077";
        font-size: 10px;
    }
}

select::-ms-expand {
    display: none !important;
  }
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
  }

.system-policies-action-buttons {
    border-bottom: 1px solid #ddd;
    height: 23px;
    display: flex;
    align-items: center;
    position: relative;
    // padding: 0 10px;
}

.options {
    position: absolute;
    left: 5px;
    top: 22px;
    z-index: 1000;
    /* display: none; */
    /* float: left; */
    min-width: 10rem;
    // padding: 0 9px;
    box-shadow: 0px 0px 2px 0px #ddd;
    /* margin: 0.125rem 0 0; */
    font-size: 0.875rem;
    color: #3e5569;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e9ecef;
    border-radius: 2px;
    .option-header {
        background-color: #f5f5f5;
        color: var(--ecm-main);
        padding: 0 9px;
        font-weight: 700;
    }
    ul { 
        padding: 0 9px !important;
        li {
            cursor: pointer;
           small {
                &:hover {
                    text-decoration: underline;
                }
           }
        }
    }
}