.App-Login {
    height: 100vh;
    width: 100%;
    background-image: url(../../../assets/login/fff.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .app-login-page {
        width: 62%;
        position: relative;
    }
    .App-login-main {
        position: relative;
        padding: 5px 15px;
        width: 100%;
        display: flex;
        height: 390px;
        background-color: rgba(216, 247, 255, 0.6705882353);
        box-shadow: 3px 3px 5px 0px rgb(4 4 4 / 26%), inset 0 0 4px 0 #afafaf;
        border-radius: 6px;
        align-items: center;
        .logo-box {
            height: 115px;
            border-radius: 50%;
            width: 115px;
            position: absolute;
            left: 0;
            display: flex;
            background: aliceblue;
            right: 0;
            margin: auto;
            box-shadow: 3px 3px 5px 0px rgb(4 4 4 / 26%);
            top: -58px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
            }
        }
    }
    .login-left-school-image {
        width: 100%;
        height: 100%;
        padding: 0 10px;

        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
        }
    }
    .login-school-form {
        form {
            .school-login-text {
                text-align: center;
                span {
                    position: relative;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    h3 {
                        background: #1c86ad;
                        width: 175px;
                        box-shadow: 3px 3px 5px 0px rgb(4 4 4 / 26%);
                        padding: 6px 4px;
                        font-size: 19px;
                        z-index: 1;
                        color: #fff;
                        font-weight: 800;
                        border-radius: 6px;
                        margin-bottom: 7px !important;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        width: 32%;
                        left: 0;
                        top: 17px;
                        height: 2px;
                        background: #ffffff94;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        width: 32%;
                        right: 0;
                        top: 17px;
                        height: 2px;
                        background: #ffffff94;
                    }
                }
                p {
                    color: #1c86ad;
                    font-size: 13px;
                    width: 80%;
                    font-weight: 600;
                    /* text-shadow: 1px 1px 1px #8b8b8b; */
                    margin-left: auto !important;
                    margin-right: auto !important;
                }
            }
            .login-input {
                width: 100%;
                display: flex;
                justify-content: center;
                position: relative;
                img {
                    position: absolute;
                    filter: invert(53%) sepia(16%) saturate(2838%) hue-rotate(165deg) brightness(91%) contrast(82%);
                    position: absolute;
                    left: 69px;
                    top: 16px;
                    width: 20px;
                }
                input {
                    margin-top: 11px;
                    width: 68%;
                    height: 34px;
                    padding: 16px 33px !important;
                    border: none;
                    box-shadow: inset 0 0 4px 0 #afafaf;
                    border-radius: 4px;
                    font-size: 13px;
                }
                select {
                    margin-top: 11px;
                    width: 68%;
                    height: 34px;
                    padding: 8px 3px !important;
                    border: none;
                    box-shadow: inset 0 0 4px 0 #afafaf;
                    border-radius: 4px;
                    font-size: 13px;
                }
            }
            .forget-pass {
                display: flex;
                justify-content: center;
                margin-top: 9px;
                span {
                    color: #1c86ad;
                    font-weight: 700;
                    font-size: 13px;
                    cursor: pointer;
                }
            }
        }
    }
}

.login-btn {
    display: flex;
    margin-top: 15px;
    button {
        width: 130px;
        height: 40px;
        padding: 0;
        margin: 0 auto;
        border-radius: 25px;
        color: #fff;
        background: #1c86ad;
        border: none;
        font-size: 14px;
        font-weight: 600;
        box-shadow: 3px 3px 4px #00000075;
    }
}

.img-1 {
    width: 162px;
    left: -55px;
    top: -66px;
}

.img-2 {
    bottom: -40px;
    width: 115px;
    z-index: 11;
    left: -23px;
}

.img-3 {
    right: -50px;
    bottom: -55px;
    width: 131px;
}

.img-4 {
    top: -42px;
    right: -55px;
    z-index: 1;
    width: 117px;
}