<ecm-top-screen-header screen_name="ATTENDANCE DASHBOARD"></ecm-top-screen-header>
<!-- <div class="dashboard-top-bar">
        <div>
            <ecm-btn-group IconClass="fa fa-bars" BtnText=""></ecm-btn-group>
            <ecm-btn-group IconClass="fa fa-calendar-check-o" BtnText="Calender"></ecm-btn-group>
        </div>
        <div>
            <span class="dash-date">{{ dashboarddate }}</span>
            <i class="fa fa-refresh icon-shadow cursor-pointer" (click)="refreshDashboard()"></i>
        </div>
    </div>
    <div class="main-summary custom-h">
        <div class="row">
            <div class="col-auto p-0">
                <div class="custom-card">
                    <div class="card-icon">
                        <i class="fa fa-users fa-2x total"></i>
                    </div>
                    <div class="card-text" style="margin-left: 7px;">
                        <div style="display: flex;flex-direction: column;">
                            <span class="totals txt-1">STUDENTS</span>
                            <span class="totals txt-2">0</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto p-0">
                <div class="custom-card">
                    <div class="card-icon">
                        <i class="fa fa-user-plus fa-2x presentes"></i>
                    </div>
                    <div class="card-text" style="margin-left: 7px;">
                        <div style="display: flex;flex-direction: column;">
                            <span class="presents txt-1">PRESENTS</span>
                            <span class="presents txt-2">0</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto p-0">
                <div class="custom-card">
                    <div class="card-icon">
                        <i class="fa fa-user-times fa-2x absentes"></i>
                    </div>
                    <div class="card-text" style="margin-left: 7px;">
                        <div style="display: flex;flex-direction: column;">
                            <span class="absents txt-1">ABSENTS</span>
                            <span class="absents txt-2">0</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto p-0">
                <div class="custom-card">
                    <div class="card-icon">
                        <i class="fa fa-clock-o fa-2x latees"></i>
                    </div>
                    <div class="card-text" style="margin-left: 7px;">
                        <div style="display: flex;flex-direction: column;">
                            <span class="lates txt-1">LATE</span>
                            <span class="lates txt-2">0</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto p-0">
                <div class="custom-card">
                    <div class="card-icon">
                        <i class="fa fa-shield-alt fa-2x alteres"></i>
                    </div>
                    <div class="card-text" style="margin-left: 7px;">
                        <div style="display: flex;flex-direction: column;">
                            <span class="alters txt-1">ALTERNATE OFF</span>
                            <span class="alters txt-2">0</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto p-0">
                <div class="custom-card">
                    <div class="card-icon">
                        <i class="fa fa-first-aid fa-2x leavees"></i>
                    </div>
                    <div class="card-text" style="margin-left: 7px;">
                        <div style="display: flex;flex-direction: column;">
                            <span class="leaves txt-1">LEAVE</span>
                            <span class="leaves txt-2">0</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto p-0">
                <div class="custom-card">
                    <div class="card-icon">
                        <i class="fa fa-gift fa-2x notmarkes"></i>
                    </div>
                    <div class="card-text" style="margin-left: 7px;">
                        <div style="display: flex;flex-direction: column;">
                            <span class="notmarks txt-1">HOLIDAYS</span>
                            <span class="notmarks txt-2">0</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto p-0">
                <div class="custom-card br-none">
                    <div class="card-icon">
                        <i class="fa fa-eye-slash fa-2x markedes"></i>
                    </div>
                    <div class="card-text" style="margin-left: 7px;">
                        <div style="display: flex;flex-direction: column;">
                        <span class="markeds txt-1">N.MARKED</span>
                            <span class="markeds txt-2">0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
<ecm-loder></ecm-loder>