select::-ms-expand {
    display: none !important;
  }
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
  }

.role-top-screens-main {
  border-top: 1px solid #dddd;
  margin-top: 25px;
}  

