select::-ms-expand {
    display: none !important;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
}

.subject-select-Syllabus {
    border-bottom: 1px solid #ddd;
    /* margin: 0 21px; */
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    height: 23px;
    padding-left: 10px;
    border-right: 1px solid #ddd;
}

.list-of-subject {
    height: 77px;
    border-bottom: 1px solid #ddd;
    overflow-y: scroll;
    max-width: 100.5%;
    display: flex;
    align-items: center;
    display: -webkit-box !important;
    margin-left: 5px;
    &::-webkit-scrollbar {
        box-shadow: none !important;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--ecm-main) !important;
        border-radius: 10px !important;
    }
}

.list-of-subject li {
    width: 84.9px;
    height: 58px;
    padding: 6px;
    text-align: center;
    cursor: pointer;
    margin: 5px 4px 5px 4px;
    font-size: 11px;
    border: 2px solid #ffffff;
    background: linear-gradient(131deg, #dcf1ff, #ffffff);
    transition: all 0.5s ease-out;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 6px rgb(123 123 123 / 45%);
}

.list-of-subject li span {
    font-size: 11px;
    font-weight: 600;
    display: block;
}

.list-of-subject-count {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.list-of-subject-count span {
    font-size: 16px;
    font-weight: 700;
    color: var(--ecm-main);
    display: inline-block;
}

.list-of-subject-count i {
    font-size: 16px;
    color: var(--ecm-main);
    padding-right: 3px;
}

.list-of-subject li:hover {
    color: white;
    background: var(--ecm-main) !important;
}

.list-of-subject li:hover div i {
    color: white;
    transition: all 0.5s ease-out;
}

.list-of-subject li:hover div span {
    color: white;
    transition: all 0.5s ease-out;
}